@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto", "Noto Sans KR", "돋움";
  color: #111;
  font-size: 16px;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 99;
  height: 60px;
}
header .container {
  justify-content: center;
  position: relative;
}
header .container h1 {
  left: 10px;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
}
header .container h1 a img {
  height: 30px;
}
header .util {
  right: 0px;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center;
}
header .util ul {
  display: flex;
  align-items: center;
}
header .util li {
  margin-left: 10px;
}
header .util li:nth-last-child(1) {
  display: none;
}
header .util .btn-all {
  height: 60px;
  width: 60px;
  padding: 0;
  margin: 0;
  position: relative;
}
header .util .btn-all.on span:nth-child(1) {
  top: 29px;
  transform: rotate(45deg);
}
header .util .btn-all.on span:nth-child(2) {
  top: 29px;
  opacity: 0;
  transform: translate(-100px);
}
header .util .btn-all.on span:nth-child(3) {
  top: 29px;
  transform: rotate(-45deg);
}
header .util .btn-all span {
  transition: all 0.25s ease;
  display: block;
  width: 30px;
  height: 2px;
  background-color: #111;
  position: absolute;
  left: 15px;
}
header .util .btn-all span:nth-child(1) {
  top: 19px;
}
header .util .btn-all span:nth-child(2) {
  top: 29px;
}
header .util .btn-all span:nth-child(3) {
  top: 39px;
}

#gnb {
  position: fixed;
  width: 100%;
  top: 60px;
  background: #fff;
  left: 100%;
  height: 100vh;
  transition: all 0.25s ease;
}
#gnb.on {
  left: 0;
}
#gnb .list {
  width: 100%;
}
#gnb .list > li {
  position: relative;
  border-top: 1px solid #ccc;
}
#gnb .list > li .depth01 {
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  box-sizing: border-box;
}
#gnb .list > li .depth01.on i {
  transform: translateY(-50%) rotate(-180deg);
}
#gnb .list > li .depth01 i {
  transition: all 0.25s ease;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
#gnb .list > li .depth01::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #dd3156;
  margin-right: 10px;
}
#gnb .list > li .depth02 {
  background-color: #ccc;
  width: 100%;
  display: none;
}
#gnb .list > li .depth02 li a {
  display: flex;
  padding: 15px 30px;
  border-top: 1px solid #999;
  align-items: center;
}
#gnb .list > li .depth02 li a::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background: #dd3156;
  margin-right: 10px;
}

footer #family-site {
  margin: 30px 0;
}
footer #family-site ul li {
  width: auto;
}
footer #family-site ul li img {
  height: 30px;
}
footer #footer {
  background-color: #000;
  color: #ccc;
  padding: 30px 0;
}
footer #footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer #footer .container .info {
  font-size: 14px;
  font-weight: 300;
}
footer #footer .container .info .util {
  margin-bottom: 40px;
}
footer #footer .container .info .util ul {
  display: flex;
  justify-content: space-between;
}
footer #footer .container .info .address {
  margin-bottom: 30px;
}
footer #footer .container .info .address ul li {
  margin: 10px 0;
}
footer #footer .container .sns {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
footer #footer .container .sns ul {
  display: flex;
  margin-bottom: 20px;
}
footer #footer .container .sns ul li {
  margin-right: 20px;
}
footer #footer .container .sns ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 100%;
}
footer #footer .container .sns .nts img {
  height: 40px;
}