#main-visual {
  height: 100vh;
  overflow: hidden;
}
#main-visual .list li {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#main-visual .list li::before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
#main-visual .list li .txt {
  color: #fff;
  position: absolute;
  left: 60px;
  top: 50%;
  font-size: 16px;
  font-weight: 300;
}
#main-visual .list li .txt p {
  margin-bottom: 15px;
}
#main-visual .list li .txt .desc {
  width: 80%;
  line-height: 1.5;
  word-break: keep-all;
}
#main-visual .list li .txt a {
  margin-top: 30px;
  display: block;
}
#main-visual .list li .txt strong {
  font-size: 20px;
  font-weight: 700;
}
#main-visual .list .visual01 {
  background-image: url(../images/main/visual01.jpg);
}
#main-visual .list .visual02 {
  background-image: url(../images/main/visual02.jpg);
}
#main-visual .list .visual03 {
  background-image: url(../images/main/visual03.jpg);
}
#main-visual .btn {
  position: absolute;
  top: 50%;
  z-index: 2;
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#main-visual .btn .material-icons {
  font-size: 48px;
}
#main-visual .btn .fa-solid {
  font-size: 48px;
}
#main-visual .btn-next {
  right: 0;
}
#main-visual .pagination {
  position: absolute;
  bottom: 50px;
  z-index: 3;
  display: flex;
  justify-content: center;
}
#main-visual .pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100px;
  margin: 0 10px;
  opacity: 1;
}
#main-visual .pagination .swiper-pagination-bullet-active {
  background-color: #dd3156;
}

.contents-box {
  padding: 100px 0;
}
.contents-box h2 {
  font-size: 36px;
  color: #dd3156;
  font-weight: 700;
  margin-bottom: 30px;
}
.contents-box .banner {
  margin-top: 100px;
}
.contents-box .btns {
  position: absolute;
  right: 0%;
  top: 0;
}
.contents-box .btns i {
  font-size: 25px;
}

#introduce {
  overflow: hidden;
  background: #f4f4f4;
}
#introduce .banner {
  margin-top: 100px;
}
#introduce ul li {
  height: 380px;
  width: 50%;
  position: relative;
  overflow: hidden;
}
#introduce ul li:hover .txt {
  bottom: 50px;
}
#introduce ul li img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.9);
}
#introduce ul li .txt {
  position: absolute;
  color: #fff;
  left: 50px;
  bottom: -50px;
  transition: all 0.5s ease-in-out 0.2s;
}
#introduce ul li .txt h3 {
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 500;
}
#introduce ul li .txt p {
  line-height: 1.5;
}

#inner {
  overflow: hidden;
  background-color: #fff;
}
#inner .banner {
  margin-top: 100px;
}
#inner .banner ul {
  margin: 70px 0 150px;
}
#inner .banner ul li {
  height: 335px;
  width: 25%;
  position: relative;
  margin: 0 0 50px 0;
}
#inner .banner ul li img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.7s;
}
#inner .banner ul li img:hover {
  filter: brightness(0.7);
}
#inner .banner ul li .entry-meta {
  margin-top: auto;
  display: block;
  position: absolute;
  height: 94px;
  color: #111;
  left: 8px;
  bottom: -110px;
  word-break: keep-all;
}
#inner .banner ul li .entry-meta .h3 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5em;
  line-height: 1.5;
}
#inner .banner ul li .entry-meta .h4 {
  font-size: 15px;
  margin-top: 20px;
}
#inner .banner ul li .entry-meta .cop {
  color: #dd3156;
}

#notice {
  overflow: hidden;
  background-color: #f4f4f4;
}
#notice .container {
  overflow: hidden;
}
#notice .banner ul {
  width: 30%;
}
#notice .banner ul li {
  border-top: 3px solid #000;
  word-break: keep-all;
}
#notice .banner ul li .h3 {
  font-size: 24px;
  font-weight: 700;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 3em;
  line-height: 1.5;
  margin: 30px 0;
  word-break: keep-all;
}
#notice .banner ul li .date {
  margin: 50px 0 0 0;
  font-size: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 4.5em;
  line-height: 1.5;
}
#notice .banner ul li .cop {
  color: #dd3156;
}