@import "vars";
@import "mixins";

#main-visual {
  height: 100vh;
  overflow: hidden;
  .list {
    li {
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      &::before {
        content: "";
        display: block;
        background-color: rgba($color: #000000, $alpha: 0.5);
        width: 100%;
        height: 100%;
      }
      .txt {
        color: #fff;
        position: absolute;
        left: 60px;
        top: 50%;
        font-size: clamp(16px, 5vw, 24px);
        font-weight: 300;
        transform: translateY(-50%);
        p {
          margin-bottom: 15px;
        }
        .desc {
          width: 80%;
          line-height: 1.5;
          word-break: keep-all;
        }
        a {
          margin-top: 30px;
          display: block;
        }
        strong {
          font-size: clamp(20px, 10vw, 48px);
          font-weight: 700;
        }
      }
    }
    .visual01 {
      background-image: url(../images/main/visual01.jpg);
    }
    .visual02 {
      background-image: url(../images/main/visual02.jpg);
    }
    .visual03 {
      background-image: url(../images/main/visual03.jpg);
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    z-index: 2;
    color: #fff;
    border-radius: 100px;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    .material-icons {
      font-size: 48px;
    }
    .fa-solid {
      font-size: 48px;
    }
    &-next {
      right: 0;
    }
  }
  .pagination {
    position: absolute;
    bottom: 50px;
    z-index: 3;
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 100px;
      margin: 0 10px;
      opacity: 1;
      &-active {
        background-color: $main-color;
      }
    }
  }
}
// main-visual end
.contents-box {
  padding: 50px 0;
  h2 {
    font-size: clamp(18px, 10vw, 24px);
    color: $main-color;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .banner {
    margin-top: 80px;
  }
  .btns {
    position: absolute;
    right: 20px;
    top: 120px;
    i {
      font-size: 24px;
    }
  }
}

#introduce {
  overflow: hidden;
  background: #f4f4f4;

  .banner {
    margin-top: 100px;
  }
  ul {
    li {
      height: 300px;
      width: 50%;
      position: relative;
      overflow: hidden;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: brightness(0.9);
    }
    .txt {
      position: absolute;
      color: #fff;
      left: 20px;
      bottom: 20px;
      right: 20px;
      bottom: 20px;
      transition: all 0.5s ease-in-out 0.2s;
      h3 {
        font-size: clamp(18px, 8vw, 24px);
        margin-bottom: 20px;
        font-weight: 500;
      }
      p {
        line-height: 1.5;
        br {
          content: "";
        }
      }
    }
  }
}

#inner {
  overflow: hidden;
  background-color: #fff;
  .btns {
    top: 60px;
  }
  .banner {
    margin-top: 100px;
    ul {
      margin: 70px 0 150px;
      li {
        height: 335px;
        width: 25%;
        position: relative;
        margin: 0 0 20px 0;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: 0.7s;
          &:hover {
            filter: brightness(0.7);
          }
        }
        .entry-meta {
          margin-top: auto;
          display: block;
          position: absolute;
          height: 94px;
          color: #111;
          left: 8px;
          bottom: -110px;
          word-break: keep-all;
          .h3 {
            font-size: clamp(18px, 8vw, 24px);
            line-height: 1.2;
            font-weight: 600;
            @include multiElilipsis(2, 1.2);
          }
          .h4 {
            font-size: 15px;
            margin-top: 20px;
          }
          .cop {
            color: $main-color;
          }
        }
      }
    }
  }
}

#notice {
  overflow: hidden;
  background-color: #f4f4f4;
  .container {
    overflow: hidden;
  }
  .btns {
    top: 60px;
  }
  .banner {
    ul {
      width: 30%;
      li {
        border-top: 3px solid #000;
        word-break: keep-all;
        .h3 {
          font-size: $h3;
          font-weight: 700;
          @include multiElilipsis;
          margin: 30px 0;
          word-break: keep-all;
        }
        .date {
          margin: 50px 0 0 0;
          font-size: $h4 - 4;
          @include multiElilipsis(3);
        }

        .cop {
          color: $main-color;
        }
      }
    }
  }
}
